@media only screen and ( min-device-width : 601px ) {

  .fixed {
    grid-column: 1 / -1;
    height: fit-content;
    overflow: initial;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  nav {
    align-content: center;
    align-items: center;
    background: #e3a22e;
    display: flex;
    flex-flow: row nowrap;
    height: 105px;
    justify-content: space-between;
    width: 100vw;
  }

  .nav-itens {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: space-evenly;
    left: 0%;
    right: 80.89%;
    top: 0;
    width: 733px;
  }

  .nav-link {
    text-decoration: none;
  }

  .nav-user {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    left: 1391px;
    width: 50%;
  }

  .nav-user div span {
    align-content: center;
    align-items: center;
    color: #f2fffc;
    display: flex;
    height: auto;
    max-width: 300px;
    min-width: 120px;
    text-align: center;
    width: auto;

  }

  .nav-user div button {
    height: 70px;
    left: 96.62%;
    margin-right: 10px;
    max-width: 300px;
    min-width: 120px;
    width: 300px;
  }
}

@media ( max-width : 600px ) {

  nav {
    align-content: center;
    align-items: center;
    background: #e3a22e;
    display: flex;
    flex-flow: row nowrap;
    height: 78px;
    justify-content: space-between;
    width: 100vw;
  }

  .nav-itens {
    align-items: center;
    display: none;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: space-evenly;
    left: 0%;
    right: 80.89%;
    top: 0;
    width: 733px;

  }

  .nav-itens div a {
    text-decoration: none;
  }

  .nav-user {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    left: 1391px;
    width: 539px;
  }

  .nav-user div span {
    color: #f2fffc;
    height: auto;
    margin-left: 30px;
    max-width: 300px;
    min-width: 150px;
    text-align: center;
    width: auto;
  }

  .nav-user div button {
    height: 100%;
    left: 96.62%;
    margin-right: 10px;
    max-width: 300px;
    min-width: 120px;
    width: auto;
  }
}
