.products_page__container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  max-width: 100vw;
  padding: 1em;
  padding-bottom: 8em;
  justify-content: space-evenly;
}

.products_page__cart-button-container {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.products_page__cart-button {
  font-size: 1.75em;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0;
  overflow: hidden;
  box-shadow: 1px 3px 10px rgb(128, 128, 128);
}

.products_page__cart-button-text {
  padding: 0.5em 0.25em;
}

.products_page__cart-button-value {
  padding: 0.5em 0.25em;
  background-color: goldenrod;
}

@media (max-width: 500px) {
  .products_page__cart-button-container {
    left: 0; 
    right: 0;
    display: flex;
    justify-content: center;
  }
}