.App {
  align-items: center;
  background-attachment: scroll;
  background-image: url('http://localhost:3000/fundo5.png');
  background-repeat: repeat;
  background-size: 200px;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
  min-width: 350px;
}

a {
  text-decoration: none;
  color:  rgb(92, 68, 8);;
}